.user {
    color: blanchedalmond;
    float: right;
    left: 430px;
    padding: 8px;
}

.btn-new {
    padding: 22px;
}

.btn-logout {
    padding: 8px;
    left: 630px;
    top: 13px;
}

#grid {
    margin-top: 23px;
    place-content: center;
}

#Add {
    margin-top: 23px;
    place-content: center;
}

#audit {
    margin-top: 23px;
    place-content: center;
}

.k-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.k-grid-header .center-header {
    text-align: center;
}

.k-grid tbody .k-grid .k-grid-header .k-header {
    background-color: lightblue;
}

.k-grid tbody .k-grid tbody .k-grid .k-grid-header .k-header {
    background-color: yellowgreen;
}

.k-grid tbody .k-grid tbody .k-grid tbody .k-grid .k-grid-header .k-header {
    background-color: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: arial;
}

.btnlogin {
    margin: 0;
    padding: 4px 8px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    background-repeat: repeat-x;
    background-position: 0 center;
    font: inherit;
    line-height: 1.42857143;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    gap: 4px;
    justify-content: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    position: relative;
    left: 100px;
    bottom: 40px;
}

#validation-success {
    position: absolute;
    bottom: 200px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnStyle {
    margin: 0;
    padding: 4px 8px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    background-repeat: repeat-x;
    background-position: 0 center;
    font: inherit;
    line-height: 1.42857143;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    gap: 4px;
    justify-content: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    position: relative;
}
