
@{
    ViewBag.Title = "Login";
}

<div class="demo-section card">
    <div id="validation-success"></div>
    @(Html.Kendo().Form<BookBlogger.Web.Models.UserLogin>()
        .Name("login")
        //.HtmlAttributes(new { controller = "Account", action = "register", method = "POST" })

        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Enter Login Credentials")
                .Items(i =>
                {
                    i.Add()
                        .Field(f => f.Username)
                        .Id("txtUsername")
                        .EditorTemplateHandler("setNameEditor")
                        .Label(l => l.Text("Username:"));
                    i.Add()
                        .Field(f => f.Password)
                        .Label(l => l.Text("Password:"))
                        .Id("txtPassword")
                        .Hint("Hint: enter alphanumeric characters only.")
                        .EditorTemplateHandler("setPasswordEditor");
                });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
    )
    <div>
        <ul class="btn btn-info btnlogin">
            <li>@Html.ActionLink("Register", "Register", "BookBlogger", new { area = "" }, null)</li>
        </ul>
    </div>
</div>
<script src="~/Content/Login.js"></script>

<link href="~/Content/myStyles.css" rel="stylesheet" />

