
@{
    ViewBag.Title = "Register";
}

@*<h2>Register</h2>*@
<div class="demo-section card k-float-left">

    <div id="validation-success"></div>
    @(Html.Kendo().Form<BookBlogger.Web.Models.Users>()
        .Name("register")

        .HtmlAttributes(new { controller = "Account", action = "register", method = "POST" })
        .Layout(Layout)
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Enter Your Informations For Registration")

                .Items(i =>
                {

                    i.Add()
                         .Field(f => f.FirstName)
                         .Id("txtFirstName")

                         .EditorTemplateHandler("setFirstNameEditor")
                         .Label(l => l.Text("First Name:"));
                    i.Add()
                        .Field(f => f.LastName)
                        .Id("txtLastName")
                        .EditorTemplateHandler("setLastNameEditor")
                        .Label(l => l.Text("Last Name:"));
                    i.Add()
                        .Field(f => f.Username)
                        .Id("txtUsername")
                        .EditorTemplateHandler("setUsernameEditor")
                        .Label(l => l.Text("Username:"));
                    i.Add()
                        .Field(f => f.Password)
                        //.Id("txtPassword")
                        .Label(l => l.Text("Password:"))
                        .Hint("Hint: enter alphanumeric characters only.")
                        .EditorTemplateHandler("setPasswordEditor");
                });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
    )
    <div>
        <ul class="btn btn-info btnlogin">
            <li>@Html.ActionLink("Login", "Login", "BookBlogger", new { area = "" }, null)</li>
        </ul>
    </div>
</div>



<script>
    function setPasswordEditor(container, options) {
        $('<input type="password" id="Password" name="' + options.field + '" title="Password" required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: Password" aria-describedby="Password-form-hint"/>')
            .appendTo(container)
            .kendoTextBox();
    }
    function setUsernameEditor(container, options) {
        $('<input type="text" id="txtUsername" name="' + options.field + '" title="User Name" required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: Username" aria-describedby=" "/>')
            .appendTo(container)
            .kendoTextBox();
    }
    function setFirstNameEditor(container, options) {
        $('<input type="text" id="txtFirstName" name="' + options.field + '" title="First Name" required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: FirstName" aria-describedby=" "/>')
            .appendTo(container)
            .kendoTextBox();
    }

    function setLastNameEditor(container, options) {
        $('<input type="text" id="txtLastName" name="' + options.field + '" title="Name" required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: LastName" aria-describedby=" "/>')
            .appendTo(container)
            .kendoTextBox();
    }

    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        e.preventDefault();
        $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>User Registered</div>");
        $.ajax({
            url: 'https://localhost:44367/api/account/register',
            method: 'POST',
            data: {

                username: $('#txtUsername').val(),
                password: $('#Password').val(),
                firstname: $('#txtFirstName').val(),
                lastname: $('#txtLastName').val()

                /*isAdmin: $('#txtIsAdmin').val()*/
            },
            success: function () {
                //$('#successModal').modal('show');
                $.ajax({
                    url: 'https://localhost:44367/api/account/login',
                    method: 'POST',
                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#Password').val()
                    },
                    success: function (res) {
                        window.location.href = res.RedirectUrl;
                    },
                    error: function () {
                    },


                    error: function (jqXHR) {
                        //$('#divErrorText').text(jqXHR.responseText);
                        //$('#divError').show('fade');
                        $("#validation-success").html("<div class='k-messagebox k-messagebox-error'>Wrong Password or Username</div>");
                    }
                });
            },
            error: function (jqXHR) {
                //$('#divErrorText').text(jqXHR.responseText);
                //$('#divError').show('fade');
                $("#validation-success").html("<div class='k-messagebox k-messagebox-error'>Invalid Password or Username</div>");
            }

        });
    }
    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-family: arial;
    }
    .btnlogin {
        margin: 0;
        padding: 4px 8px;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        background-repeat: repeat-x;
        background-position: 0 center;
        font: inherit;
        line-height: 1.42857143;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        overflow: hidden;
        align-items: center;
        gap: 4px;
        justify-content: center;
        vertical-align: middle;
        user-select: none;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        position: relative;
        left: 100px;
        bottom:40px;
    }
</style>
