
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div class="demo-section">
    <div id="validation-success"></div>
    @(Html.Kendo().Form<BookBlogger.Web.Models.Users>()
        .Name("register")
        .HtmlAttributes(new { controller = "Account", action = "register", method = "POST" })

        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Registration Form")
                .Items(i =>
                {
                    i.Add()
                         .Field(f => f.FirstName)
                         .Id("txtFirstName")
                         .Label(l => l.Text("First Name:"));
                    i.Add()
                        .Field(f => f.LastName)
                        .Id("txtLastName")
                        .Label(l => l.Text("Last Name:"));
                    i.Add()
                        .Field(f => f.Username)
                        .Id("txtUsername")
                        .Label(l => l.Text("Username:"));
                    i.Add()
                        .Field(f => f.Password)
                        //.Id("txtPassword")
                        .Label(l => l.Text("Password:"))
                        .Hint("Hint: enter alphanumeric characters only.")
                        .EditorTemplateHandler("setPasswordEditor");
                });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
    )
</div>

<script>
    function setPasswordEditor(container, options) {
        $('<input type="password" id="Password" name="' + options.field + '" title="Password" required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: Password" aria-describedby="Password-form-hint"/>')
            .appendTo(container)
            .kendoTextBox();
    }

    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        e.preventDefault();
        $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
        $.ajax({
            url: 'https://localhost:44367/api/account/register',
            method: 'POST',
            data: {

                username: $('#txtUsername').val(),
                password: $('#Password').val(),
                firstname: $('#txtFirstName').val(),
                lastname: $('#txtLastName').val()

                /*isAdmin: $('#txtIsAdmin').val()*/
            },
            success: function () {
                //$('#successModal').modal('show');
                $.ajax({
                    url: 'https://localhost:44367/api/account/login',
                    method: 'POST',
                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#Password').val()
                    },
                    success: function (res) {
                        window.location.href = res.RedirectUrl;
                    },
                    error: function () {
                    },


                    error: function (jqXHR) {
                        //$('#divErrorText').text(jqXHR.responseText);
                        //$('#divError').show('fade');
                        $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Wrong Password or Username</div>");
                    }
                });
            },
            error: function (jqXHR) {
                //$('#divErrorText').text(jqXHR.responseText);
                //$('#divError').show('fade');
                $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Invalid Password or Username</div>");
            }

        });
    }
    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>

