<input id="btnGrid" class="btn btn-success"
       type="button" value="Submit" />

<div id="grid"></div>
<div id="Add"></div>
<script>
    $(document).ready(function () {
        $("#btnGrid").click(function () {
            $("#grid").toggle();
        });
    });
    $("#grid").kendoGrid({
        height: 400,
        toolbar: ["create"],
        columns: [
            { field: "ISBN" },
            { field: "BookName" },
            { field: "Price" },
            { field: "Details" },
            { field: "ImageUrl" },
            { field: "DownloadUrl" },
            { field: "AuthorName" },
            { field: "Surname" },
            //{ field: "CreatedDateTime" },
            //{ field: "UpdatedDateTime" },
            { command: ["edit", "destroy"], width: 180 }
        ],

        dataSource: {
            type: "webapi",
            transport: {
                idField: "ID",
                read: {
                    url: "/api/Books"
                },
                create: {
                    url: "api/Books"
                },
                update: {
                    url: "/api/Books/{0}"
                },
                delete: {
                    url: "api/Books/{0}"
                }
                

            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "ID",
                    fields: {
                        ID: { type: "number" },
                        ISBN: { type: "string" },
                        BookName: { type: "string" },
                        Price: { type: "number" },
                        Details: { type: "string" },
                        ImageUrl: { type: "string" },
                        DownloadUrl: { type: "string" },
                        AuthorName: { type: "string" },
                        Surname: {type:"string"}
                        //CreatedDateTime: { type: "date" },
                        //UpdatedDateTime: { type: "date" }
                    }
                }
            },
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverGrouping: true,
            serverAggregates: true,
        },
        editable: "inline",
        
        pageable: true,
        scrollable: true
    })

</script>
@*<script>
    $("#Add").kendoGrid({
        height: 400,
        columns: [
            { field: "ISBN" },
            { field: "BookName" },
            { field: "Price" },
            { field: "Details" },
            { field: "ImageUrl" },
            { field: "DownloadUrl" },
            { field: "FirstName" },
            { field: "LastName" },
            { command: [], width: 180 }
        ],
        toolbar: ["create"],
        dataSource: {
            /*type: "aspnetmvc-ajax",*/
            batch: true,
            transport: {
                //read: {
                //    url: "Books_Read"
                //},
                create: {
                    url: "api/books/AddBooks"
                }
            },
            schema: {
                data: "Data",
                model: {
                    id: "ID",
                    fields: {
                        ID: { type: "number" },
                        ISBN: { type: "string" },
                        BookName: { type: "string" },
                        Price: { type: "number" },
                        Details: { type: "string" },
                        ImageUrl: { type: "string" },
                        DownloadUrl: { type: "string" },
                        FirstName: { type: "string" },
                        LastName: {type:"string"}
                    }
                }
            },
        },
        editable: "incell",
        /*save: onSave,*/
        scrollable: false
    })

    //function onSave(e) {
    //    //Implement the event handler for save
    //}

</script>*@