<div class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <h3>BookBlogger</h3>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><input id="btnGrid" class="btn-link btn-new d-flex" type="button" value="All Books" /></li>
                <li><input id="btnAdd" class="btn-link btn-new d-flex" type="button" value="My Books" /></li>
                <li><input id="btnAudit" class="btn-link btn-new d-flex" type="button" value="Audit Data" /></li>
                <li id="btnLogout" class="btn-link btn-logout d-flex">Logout</li>
                <li class="caption btn-new user" id="getUser"></li>
            </ul>
        </div>
    </div>
</div>
<div id="grid"></div>
<div id="Add"></div>
<div id="audit"></div>


<style>
    .user{
        color:blanchedalmond;
        float:right;
        left:430px;
        padding:8px;
    }
    .btn-new {
        padding: 22px;
    }

    .btn-logout {
        padding: 8px;
        left:630px;
        top:13px;
    }

    #grid {
        margin-top: 23px;
        place-content: center;
    }

    #Add {
        margin-top: 23px;
        place-content: center;
    }

    #audit {
        margin-top: 23px;
        place-content: center;
    }

    .k-grid td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .k-grid-header .center-header {
        text-align: center;
    }

    .k-grid tbody .k-grid .k-grid-header .k-header {
        background-color: lightblue;
    }

    .k-grid tbody .k-grid tbody .k-grid .k-grid-header .k-header {
        background-color: yellowgreen;
    }

    .k-grid tbody .k-grid tbody .k-grid tbody .k-grid .k-grid-header .k-header {
        background-color: orange;
    }
</style>

<script src="~/Content/Site.js"></script>

