<input id="btnGrid" class="btn btn-success"
           type="button" value="All Books" />

    <input id="btnAdd" class="btn btn-success"
           type="button" value="My Books" />

    <input id="btnAudit" class="btn btn-success"
           type="button" value="Audit Data" />


<div id="grid"></div>
<div id="Add"></div>
<div id="audit"></div>


<script src="~/Content/Site.js"></script>

