
@{
    ViewBag.Title = "Logout";
}

<h3>You Have Successfully Logged Out of system</h3>

<h5>Click here to login Again</h5>

@*<button type="button" id="login" class="k-button">Login</button>*@
<ul><li class="btn btn-info btnStyle">@Html.ActionLink("Login", "Login", "BookBlogger", new { area = "" }, null)</li></ul>
<link href="~/Content/myStyles.css" rel="stylesheet" />

